@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

header {
  background: #7159c1;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
};

body {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
